## Environment Variables

app:
  name: PROJECT_NAME
  env: production
  port: 3022
  log_level: info
  read_timeout: 60
  write_timeout: 60
  max_retries: 3
  retry_delay: 500ms

api:
  key: my-api-key
  public_routes:
    - "/api/health"
    - "/api/health/ready"
    - "/api/docs"

database:
  host: localhost
  port: 5460
  name: mydatabase
  username: myusername
  password: mypassword
  synchronize: false
  ssl: false
  migrations_dir: migrations
  driver: postgres

nats:
  servers: nats://localhost:4222
  client_name: PROJECT_NAME
  creds_path: secrets/PROJECT_NAME_user.creds
  default_stream_name: PROJECT_NAME
  default_stream_subjects:
    - "PROJECT_NAME.>"