## Environment Variables

app:
  name: PROJECT_NAME
  env: production
  port: 3000
  log_level: info
  timezone: Asia/Riyadh
  read_timeout: 60
  write_timeout: 60
  max_retries: 3
  retry_delay: 500ms

health:
  liveness:
    verbose_log: false
    initial_checks_to_skip: 0
  readiness:
    verbose_log: true
    initial_checks_to_skip: 0
  dependencies:
    nats:
      readiness_check: true
      liveness_check: true
    database:
      readiness_check: true
      liveness_check: true
    test_client:
      readiness_check: false
      liveness_check: true

api:
  key: my-api-key
  public_routes:
    - "/api/healthz/alive"
    - "/api/healthz/ready"
    - "/api/docs"
    - "/metrics"

database:
  host: localhost
  port: 5432
  name: mydatabase
  username: myusername
  password: mypassword
  synchronize: false
  ssl: false
  migrations_dir: migrations
  driver: postgres
  migrate_table: schema_migrations

nats:
  servers: nats://localhost:4222
  client_name: PROJECT_NAME
  creds_path: secrets/PROJECT_NAME_user.creds
  default_stream_name: PROJECT_NAME
  default_stream_subjects:
    - "PROJECT_NAME.>"
  consumer:
    max_deliver: 72
    backoff_durations:
      - 30s
      - 1m
      - 5m
      - 15m
    default_backoff_duration: 1h
  monitoring:
    enabled: false
    interval: 5m
    excluded_consumers: {}
    pending_messages_threshold: 2

sentry:
  dsn: https://PROJECT_NAME@sentry.io/PROJECT_NAME
  traces_sample_rate: 1.0

open_telemetry:
  enabled: false
  excluded_routes:
    - /api/healthz/alive
    - /api/healthz/ready
    - /api/docs
    - /metrics

los:
  base_url: http://localhost:3100
  api_key: a3f99de61b5c73f44607c25e240212feca3ae546024abcb4e832878f42ed0052
kyc:
  base_url: http://localhost:3012
  api_key: a3f99de61b5c73f44607c25e240212feca3ae546024abcb4e832878f42ed0052